<!DOCTYPE html>
<html>
<head>
  <title>Znamenitosti</title>
  <meta charset="UTF-8">
  <meta name="author" content="Lorena Martinović">
  <meta name="keywords" content="landmarks,open data">
  <meta name="discription" content="Open data for landmarks">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <h4><b>PRETRAGA</b></h4>
    <hr>
  </div>
  <div class="w3-bar-block">
    <form action="/" method="post">
      <div class="form-group">
        <label for="searchterm">Vrijednost koju tražite</label>
        <input type="text" class="form-control" id="searchterm" name="searchterm" aria-describedby="searchterm" placeholder="Unesite vrijednost">
      </div>
      <div>
          <label for="searchattr">Polje po kojem želite pretraživati</label>
          <select class="form-control" name="searchattr">
              <option value="">Odaberite polje za pretragu</option>
              <% for (attr of attributes2) { %>
                  <option value="<%=attr.sql%>"><%= attr.display %></option>
              <% } %>
          </select>
      </div>
      <div>
          <button type="submit" class="btn btn-primary">Pretraži</button>
          <a href="../landmarks.json" download="hoteli" class="btn btn-primary"><span>Skini podatke u JSON formatu</span></a>
          <a href="../landmarks.csv" download="hoteli" class="btn btn-primary"><span>Skini podatke u CSV formatu</span></a>
      </div>
  </form>
  </div>
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <div class="w3-container">
    <h1><b>Znamenitosti</b></h1>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <table id="table" class="w3-table-all" style="width: 100%;">
      <thead>
          <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>CENTURY</th>
              <th>TYPE</th>
              <th>HEIGHT</th>
              <th>ART STYLE</th>
              <th>CITY</th>
              <th>COUNTRY</th>
              <th>ARCHITECT NAME</th>
              <th>ARCHITECT SURNAME</th>
          </tr>
      </thead>
      <tbody id="tbody">
        <% for (let row of data) { %>
          <tr>
            <td><%= row.landmarkid %></td>
            <td><%= row.landmarkname %></td>
            <td><%= row.century %></td>
            <td><%= row.type %></td>
            <td><%= row.height %></td>
            <td><%= row.artstyle %></td>
            <td><%= row.cityname %></td>
            <td><%= row.countryname %></td>
            <td><%= row.architectname %></td>
            <td><%= row.architectsurname %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>